# Test only files
test
*/dev*

# Developer only files
.vs
devsec
apuc-sw.github.io.code-workspace

# Dummy data files
dummydata*
dummy*
*.dummy
TERMS.md
tos.html
global/static_database*
deprecated*

# Backup files
*.bak
