# Test only files
test*
*/dev*
dev*

# Developer only files
.vs
devsec
apuc-sw.github.io.code-workspace
node_modules

# Dummy data files
dummydata*
dummy*
*.dummy
TERMS.md
tos.html
global/static_database*
deprecated*
/global/wiki/doc/sub/tscup_char_iris_en.md
/global/resources/templates/_backup*

# Backup files
*.bak
