html {
    overflow: hidden;
    background-color: #330000;
    color: ghostwhite
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
}
a {
    font-size: 16px;
    color: ghostwhite;
    background-color: red;
    padding: 10px 20px;
    text-decoration: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);
}
.box {
    width: 100%;
    height: 340px;
    padding-left: 150%;
    padding-right: 150%;
    padding-top: 10%;
    text-align: center;
}
.stripe_top {
    width: 400%;
    height: 50px;
    background-image: linear-gradient(
        135deg,
        red 25%,
        #330000 25%,
        #330000 50%,
        red 50%, red 75%,
        #330000 75%,
        #330000 100%
    );
    background-size: 56.57px 56.57px;
    animation: move-left 30s linear infinite;
}
.stripe_bottom {
    width: 400%;
    height: 50px;
    background-image: linear-gradient(
        135deg,
        red 25%,
        #330000 25%,
        #330000 50%,
        red 50%, red 75%,
        #330000 75%,
        #330000 100%
    );
    background-size: 56.57px 56.57px;
    animation: move-right 30s linear infinite;
}
.element-hidden {
    opacity: 0;
}

@keyframes move-left {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@keyframes move-right {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.copyright-string {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: transparent;
}
