/*All pages standard form*/
html {
    font-family: 'Orbitron', sans-serif;
    background-color: #161A1D;
    color: white
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

footer {
    padding: 3px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    background-color: #22262B;
    color: white
}

.logo {
    position: fixed;
    width: 100%;
    height: 70px;
}
.logo a {
    padding: 5%;
    color: ghostwhite;
}
.logo-text {
    text-align: center;
}
