<!DOCTYPE html>
<html>
    <head></head>
    <footer>
        <div class="wrapper">
            <hr class="gradline enforce-top-align">
            <div class="copyright">
                <p>&copy; 2018-<span id="year"></span>. APUC Software. All rights reserved.</p>
                <p><a href="/global/about/terms_of_service.html">Terms of Service</a> | <a href="/global/about/privacy_policy.html">Privacy Policy</a> | <a href="/global/about/commit_history.html">Commit History</a></p>
            </div>
        </div>
    </footer>
</html>
