<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/resources/icons/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/global/resources/integrated_styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
        <title>APUC Software: Official Developer Wiki</title>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZM6HXSR');</script>
        <!-- End Google Tag Manager -->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVMS5V2XWN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-JVMS5V2XWN');
        </script>
        <!-- End Google tag (gtag.js) -->
    </head>
    <body>
        <div class="sidewrapper">
            <aside class="sidebox">
                <nav class="wikinav">
                    <div class="wiki-tabctrl">
                        <a class="wiki-tabctrl-btn active" href="/global/wiki/index_main.html">API Docs</a>
                        <a class="wiki-tabctrl-btn" href="/global/wiki/index_sub.html">Game/RP Wiki</a>
                    </div>
                    <div class="wikinav-header">
                        <h1>위키 네비게이션</h1>
                    </div>
                    <div class="wikitoc-scrollview">
                        <div class="wikitoc-contentview">
                            <ul class="wikitoc">
                                <li><h2>지침</h2>
                                    <ul class="wikitoc-sub1">
                                        <li><a href="/global/wiki/ko/index.html?doc=default_ko">위키 개요</a></li>
                                        <li><p>프로젝트 개요</p>
                                            <ul>
                                                <li><a href="/global/wiki/ko/index.html?doc=proj_tscup_ko">Project: T</a></li>
                                                <li><a href="/global/wiki/ko/index.html?doc=proj_i_ko">Project: I</a></li>
                                                <li><a href="/global/wiki/ko/index.html?doc=proj_c_ko">Project: C</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><h2>문서</h2>
                                    <ul class="wikitoc-sub1">
                                        <li><h3>개발자 지침</h2>
                                            <ul class="wikitoc-sub2">
                                                <li><a href="/global/wiki/ko/index.html?doc=_dev_readme_ko">프로젝트 공통 규칙</a></li>
                                                <li><a href="/global/wiki/ko/index.html?doc=_dev_namespace_rules_ko">네임스페이스 규칙</a></li>
                                            </ul>
                                        </li>
                                        <li><h3>게임</h3>
                                            <ul class="wikitoc-sub2">
                                                <li><a href="/global/wiki/ko/index.html?doc=game_t_ko">Project: T</a></li>
                                                <li><a href="/global/wiki/ko/index.html?doc=game_i_ko">Project: I</a></li>
                                                <li><a href="/global/wiki/ko/index.html?doc=game_c_ko">Project: C</a></li>
                                                <li><a href="/global/wiki/ko/index.html?doc=game_2741_ko">Project: 2741</a></li>
                                                <li><a href="/global/wiki/ko/index.html?doc=game_chs_ko">Project: CHS</a></li>
                                            </ul>
                                        </li>
                                        <li><h3>모드</h3>
                                            <ul class="wikitoc-sub2">
                                                <li><h4>마인크래프트 모드</h4>
                                                    <ul class="wikitoc-sub3">
                                                        <li><a href="/global/wiki/ko/index.html?doc=doc_mcrssmod_ko">Realistic Survival System</a></li>
                                                        <li><a href="/global/wiki/ko/index.html?doc=doc_modelec_ko">Modular Electronics</a></li>
                                                        <li><a href="/global/wiki/ko/index.html?doc=doc_powerdef_ko">Powered Defences</a></li>
                                                        <li><a href="/global/wiki/ko/index.html?doc=doc_asi_ko">Aerospace Industry</a></li>
                                                        <li><a href="/global/wiki/ko/index.html?doc=doc_modgen_ko">Modular Genetics</a></li>
                                                        <li><h3>개발자 전용</h3>
                                                            <ul class="wikitoc-sub3">
                                                                <li><a href="/global/wiki/ko/index.html?doc=doc_creating_addons_ko">Creating Add-on Mods</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><h4>Astroneer 모드</h4>
                                                    <ul class="wikitoc-sub3">
                                                        <!-- <li><p class="md-gray">N/A</p></li> -->
                                                        <li><a href="/global/wiki/ko/index.html?doc=doc_astrofactory_ko">AstroFactory</a></li>
                                                    </ul>
                                                </li>
                                                <li><h4>Satisfactory 모드</h4>
                                                    <ul class="wikitoc-sub3">
                                                        <li><p class="md-gray">N/A</p></li>
                                                        <!-- <li><a href="/global/wiki/ko/index.html?doc=doc_modularsuit_ko">Modular Suit</a></li> -->
                                                    </ul>
                                                </li>
                                                <li><h4>Unturned 모드</h4>
                                                    <ul class="wikitoc-sub3">
                                                        <!-- <li><p class="md-gray">N/A</p></li> -->
                                                        <li><a href="/global/wiki/ko/index.html?doc=doc_autoturned_ko">Autoturned</a></li>
                                                    </ul>
                                                </li>
                                                <li><h4>Raft 모드</h4>
                                                    <ul class="wikitoc-sub3">
                                                        <!-- <li><p class="md-gray">N/A</p></li> -->
                                                        <li><a href="/global/wiki/ko/index.html?doc=doc_industrialraft_ko">IndustrialRaft</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><h3>AI</h3>
                                            <ul class="wikitoc-sub2">
                                                <li><span class="md-gray">CLASSIFIED</span></li>
                                                <li><span class="md-gray">CLASSIFIED</span></li>
                                                <li><span class="md-gray">CLASSIFIED</span></li>
                                                <li><h4>외부 플랫폼</h4>
                                                    <ul class="wikitoc-sub3">
                                                        <li><span class="md-red">ACCESS DENIED: DOCUMENT DISSOLVED BY ADMINISTRATOR</span>
                                                            <ul class="wikitoc-sub4">
                                                                <li><span class="md-gray">NOT Comming Soon™</span></li>
                                                                <li><span class="md-gray">NOT Comming Soon™</span></li>
                                                                <li><span class="md-gray">NOT Comming Soon™</span></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><h2>게임 세계관</h2>
                                    <ul class="wikitoc-sub1">
                                        <li><h3>TSC Universe Project</h3>
                                            <ul class="wikitoc-sub2">
                                                <li><a href="/global/wiki/ko/index.html?doc=about_tscup_ko">프로젝트 개요</a></li>
                                                <li><a href="/global/wiki/ko/index.html?doc=tscup_faq_ko">자주 묻는 질문</a></li>
                                                <li><p>Encyclopedia</p>
                                                    <ul>
                                                        <li><a href="/global/wiki/ko/index.html?doc=tscup_background_ko">배경</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </aside>
        </div>
        <div class="subwrapper">
            <div class="wikidoc-localebar">
                <nav class="wikidoc-localebar-nav">
                    <div class="language-switcher">
                        <select id="lang-select">
                            <option value="en">English</option>
                            <option value="ko" selected>한국어</option>
                            <option value="ja">日本語</option>
                            <option value="zh" disabled>简体中文</option>
                        </select>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
