<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/resources/icons/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/global/resources/integrated_styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
        <title>APUC Software: Official Developer Wiki</title>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZM6HXSR');</script>
        <!-- End Google Tag Manager -->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVMS5V2XWN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-JVMS5V2XWN');
        </script>
        <!-- End Google tag (gtag.js) -->
    </head>
    <body>
        <div class="sidewrapper">
            <aside class="sidebox">
                <nav class="wikinav">
                    <div class="wikinav-header">
                        <h1>Wiki Navigation</h1>
                    </div>
                    <div class="wikitoc-scrollview">
                        <ul class="wikitoc">
                            <li><h2>Introduction</h2></li>
                            <li>
                                <ul class="wikitoc-sub1">
                                    <li><a href="/global/wiki/index.html?doc=default">About Wiki</a></li>
                                    <li><p>About Projects</p>
                                        <ul>
                                            <li><a href="/global/wiki/index.html?doc=proj_tscup">Project: T</a></li>
                                            <li><a href="/global/wiki/index.html?doc=proj_i">Project: I</a></li>
                                            <li><a href="/global/wiki/index.html?doc=proj_c">Project: C</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><h2>TSC Universe Project</h2></li>
                            <li>
                                <ul class="wikitoc-sub1">
                                    <li><a href="/global/wiki/index.html?doc=about_tscup">What is this?</a></li>
                                    <li><a href="/global/wiki/index.html?doc=tscup_suggest_idea">Can I contribute my ideas here too?</a></li>
                                    <li><p>Encyclopedia</p>
                                        <ul>
                                            <li><a href="/global/wiki/index.html?doc=tsc_background">Background</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </aside>
        </div>
        <div class="subwrapper">
            <div class="wikidoc-localebar">
                <dropdown class="wikidoc-localebar-dropdown">
                    <button class="dropbtn">Language</button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a href="/global/wiki/index.html?doc=default" data-lang="en">English</a></li>
                            <li><a href="/global/wiki/index.html?doc=default" data-lang="ko">한국어</a></li>
                            <li><a href="/global/wiki/index.html?doc=default" data-lang="ja">日本語</a></li>
                        </ul>
                    </div>
                </dropdown>
            </div>
        </div>
    </body>
</html>
