<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/resources/icons/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/global/resources/integrated_styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
        <title>APUC Software: Official Developer Wiki</title>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZM6HXSR');</script>
        <!-- End Google Tag Manager -->
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVMS5V2XWN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-JVMS5V2XWN');
        </script>
        <!-- End Google tag (gtag.js) -->
    </head>
    <body>
        <div class="sidewrapper">
            <aside class="sidebox">
                <nav class="wikinav">
                    <div class="wiki-tabctrl">
                        <a class="wiki-tabctrl-btn" href="/global/wiki/ja/index_main.html">API Docs</a>
                        <a class="wiki-tabctrl-btn active" href="/global/wiki/ja/index_sub.html">Game/RP Wiki</a>
                    </div>
                    <div class="wikinav-header">
                        <h1>ウィキナビゲーション</h1>
                    </div>
                    <div class="wikitoc-scrollview">
                        <div class="wikitoc-contentview">
                            <ul class="wikitoc">
                                <li class="has-children">
                                    <div class="menu-row">
                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">remove</span></div>
                                        <p class="menu-title1">導入</p>
                                    </div>
                                    <ul class="wikitoc-sub1 submenu">
                                        <li><a href="/global/wiki/ja/index_sub.html?doc=default&lang=ja">
                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>プロジェクト概要</a></li>
                                    </ul>
                                </li>
                                <li class="has-children collapsed">
                                    <div class="menu-row">
                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                        <p class="menu-title1">ゲーム世界観</p>
                                    </div>
                                    <ul class="wikitoc-sub1 submenu">
                                        <li class="has-children collapsed">
                                            <div class="menu-row">
                                                <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                <p class="menu-title2">TSC Universe Project</p>
                                            </div>
                                            <ul class="wikitoc-sub2 submenu">
                                                <li><a href="/global/wiki/ja/index_sub.html?doc=about_tscup&lang=ja">
                                                    <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>プロジェクト概要</a></li>
                                                <li class="has-children collapsed">
                                                    <div class="menu-row">
                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                        <p>百科事典</p>
                                                    </div>
                                                    <ul class="submenu">
                                                        <li class="has-children collapsed">
                                                            <div class="menu-row">
                                                                <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                <a href="/global/wiki/ja/index_sub.html?doc=tscup_background&lang=ja">Background</a>
                                                            </div>
                                                            <ul class="submenu">
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                        <p>Events</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_event_eros_incident&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Eros Incident</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_event_2176_incident&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>2176 Incident</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_event_ww3&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>World War III</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_event_reincarnations&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>UMRP</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                        <p>Environments</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_env_debris_cloud&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Space Debris Cloud</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_env_artificial_gravity&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Artificial Gravity</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                        <p>Objects</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_obj_tec&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Tessellation Energy Coin</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_obj_antimatter_crystal&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Antimatter Crystal</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_obj_eridium_crystal&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Eridium Crystal</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                        <p>Tools</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_tool_purgesat&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>PurgeSat</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                        <p>Weapons</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_wpn_emw_series&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>EMW Series</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined">add</span></div>
                                                                        <p>Softwares</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/en/index_sub.html?doc=tscup_sw_eidos&lang=en">
                                                                            <span class="material-symbols-outlined">chevron_right</span>EidOS</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-children collapsed">
                                                            <div class="menu-row">
                                                                <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                <a href="/global/wiki/ja/index_sub.html?doc=tscup_factions&lang=ja">Factions</a>
                                                            </div>
                                                            <ul class="submenu">
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                        <p>Corporates</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_fact_tcg&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Theseus Corporation Group</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                        <p>Organizations</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_fact_spto&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>南太平洋条約機構</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-children collapsed">
                                                            <div class="menu-row">
                                                                <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                <a href="/global/wiki/ja/index_sub.html?doc=tscup_locations&lang=ja">Locations</a>
                                                            </div>
                                                            <ul class="submenu">
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                        <p>Bases</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_loc_base_ismc&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>ISMC</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_loc_base_global_standard&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Global Standard Bases</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li class="has-children collapsed">
                                                                    <div class="menu-row">
                                                                        <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                        <p>Space Stations</p>
                                                                    </div>
                                                                    <ul class="submenu">
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_loc_ss_tsc&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Theseus Space Complex</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_loc_ss_kwgs&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Kuiper Warp Gateway Station</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_loc_ss_mifp&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Mobile Interplanetary Fabrication Platform</a>
                                                                        </li>
                                                                        <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_loc_ss_zeus_gateway&lang=ja">
                                                                            <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Orbital Mass Driver Launch Platform</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-children collapsed">
                                                            <div class="menu-row">
                                                                <div class="toggle-trigger"><span class="material-symbols-outlined notranslate" translate="no">add</span></div>
                                                                <a href="/global/wiki/ja/index_sub.html?doc=tscup_characters&lang=ja">Characters</a>
                                                            </div>
                                                            <ul class="submenu">
                                                                <li><a href="/global/wiki/ja/index_sub.html?doc=tscup_char_mysterious_guy&lang=ja">
                                                                    <span class="material-symbols-outlined notranslate" translate="no">chevron_right</span>Mysterious Guy</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </aside>
        </div>
        <div class="rsidewrapper">
            <aside class="sidebox">
                <div class="wikitocbox-rside-wrapper">
                    <div class="wikitocbox-rside-content">
                        <h3 class="toc-title">TABLE OF CONTENTS</h3>
                        <nav id="wikitocbox-container" aria-label="Table of contents">
                            <ul id="toc-list">
                                <li class="toc-loading">Loading...</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
        </div>
        <div class="subwrapper">
            <div class="wikidoc-localebar">
                <nav class="wikidoc-localebar-nav">
                    <div id="session-timer"></strong></div>
                    <div class="language-switcher">
                        <select id="lang-select">
                            <option value="en" selected>English (100%)</option>
                            <option value="ko">한국어 (100%)</option>
                            <option value="ja">日本語 (10%)</option>
                            <option value="zh" disabled>简体中文 (0%)</option>
                            <option value="zh" disabled>Русский (0%)</option>
                            <option value="zh" disabled>Deutsch (0%)</option>
                            <option value="zh" disabled>Français (0%)</option>
                        </select>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
