#clickergame-button {
    width: 100px;
    height: 100px;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 50%;
    color: ghostwhite;
    background-color: deepskyblue;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    transform: translate(0%, 150%);
}

#clickergame-score-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -300%);
    color: white;
    font-size: 50px;
    text-align: center;
}

#clickergame-score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -200%);
    color: white;
    font-size: 50px;
    text-align: center;
}